<IfModule mod_rewrite.c>
    RewriteBase /~baw4ux/spiritguide/
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
