body {
	background-image:url('../img/cocktailsplash.jpg');
	background-repeat:no-repeat;
	background-position:0px 0px;
	background-size: 100%;
}

h1 {
	padding-top: 60px;
	font-size: 100px;
	text-align: center;
	font
}

.btn {
	margin-top: 20px;
	margin-left: 47%;
}
