body {
	background-image:url('../img/cocktailsplash.jpg');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	background-position: fixed;
	background-size: 1700px 1300px;
}

h1 {
	padding-top: 60px;
	font-size: 100px;
	text-align: center;
}

.btn {
	margin-top: 20px;
	margin-left: 47%;
}
