body {
	background-image:url('../img/cocktailsplash.jpg');
	background-repeat:no-repeat;
	background-position:center top;
	background-size: 100%;
}

#home-header {
	position: relative;
	margin-top: 50%;
}

span h1 {
	font-size: 65pt;
	color: #49afcd;
}