html { 
	overflow-y: scroll; 
}

#container-outer {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#container-inner {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}

.ui-tabs-active {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
  	background-color: #ffffff;
  	border: 1px solid #ddd;
  	border-bottom-color: transparent;
}

.dropdown-toggle:active, .open .dropdown-toggle {
	background:transparent !important; 
	color:#transparent !important;
}

.paging span {
    float: left;
    padding: 0 14px;

    color: #999;
    cursor: default;
    line-height: 34px;
    text-decoration: none;

    border: 1px solid #DDD;
}

#ingredient-header {
	margin-left: 250px;
}

#cocktail-header {
	margin-left: 260px;
}]

.center-span {
	margin-left: 360px;
}

.ingredients-view {
	display: inline-block;
	margin: auto;
}



.ingredient-box {
	display:inline-block;
	margin-right: 45px;
	margin-left: 45px;
}

.ingredient-submit {
	margin-left: 300px;
}

#inv-update-button {
	margin-top: 9px;
}

#fav-button {
	margin-left: 270px;
}

/** Index Pages **/

.filter-form {
	display: inline-block; 
	margin-right: 5px;
}

#ingredient-index-span fieldset input {
	margin-right: 5px;
}

#cocktail-index-span fieldset input {
	margin-right: 0px;
}

#cocktail-index-span fieldset select {
	margin-left: 5px;
}

#ingredient-index-span {
	width: 820px;
	margin: 0 auto;
    margin-left: 60px;
    margin-right:auto;
	display: inline-block;
}

#IngredientFilterForm {
	margin-bottom: 4px;
}

#cocktail-index-span {
	width: 890px;
	margin: 0 auto;
    margin-left: 58px;
    margin-right:auto;
	display: inline-block;
}

#type-select {
	margin-right: 5px;
}

#cocktail-results {
	margin-top: 4px;
}

span h5 {float: right;}
h5 {margin-top: 0px;}